<html>
    <head>
    	<link rel="stylesheet" href="./template.css">
    </head>
    <body>
        <div class="page">
            <h1>My title</h1>
            <p>{{text}}</p>
        </div>
    </body>
</html>